:root {
  /*
  БГ хедера = случайное
 1 Цвет сайдбара = Цвет хедера
 БГ всей старницы = themeBg
 на основе темной или светлой темы = based


 Цвет иконок
 Основыне цвета
БГ попапов

БГ ховеров


БГ главного

 */
  --color-header-background: var(--color-text);

  --color-text-dark: #2c2d2e;
  --color-text-light: #e7e8ea;
  --color-background-dark: #19191a;
  --color-background-light: #f6f7f8;
  --color-sidebar-icon-dark: #333;
  --color-sidebar-icon-light: #e7e8ea;
  /* 16 12 24 6 */
  /* radius 20px */
  --color-popup-bg: #fff;
  --color-header-text: var(--color-text);
  --color-sidebar-icon: var(--color-sidebar-icon-dark);
  --color-text: #2c2d2e;
  --color-gray: #87898f;
  --color-accent-bg: #fff;
  --color-header-bg: var(--color-accent-bg);
  --color-sidebar-text: var(--color-text);
  --color-background: #f6f7f8;
  --color-primary: #005bd1;
  --color-icon: #333;
  --color-border-bottom-message: rgb(0 16 61 / 0.12);
  --color-active-folder: rgb(0 16 61 / 0.08);
  --color-hover: rgb(0 16 61 / 0.04);
  --color-select: rgb(0 16 61 / 0.04);
  --color-main-scroll: hsl(0deg 0% 80%);
  --color-skeleton-bg: rgb(0 0 0 / 0.12);
  --color-modal-bg: rgb(0 0 0 / 0.9);
  --color-hr: rgb(0 16 61 / 0.12);
  --unit: 12px;
  --text-extra-small: 10px;
  --text-small: 13px;
  --text-middle: 15px;
  --text-large: 24px;
  --text-extra-large: 30px;
  --text-extra-extra-large: 50px;
  --border-radius-main: 12px;
  --border-radius-middle: calc(var(--radius) * 3);
}
:root.dark {
  --color-text: #e7e8ea;
  --color-icon: #e7e8ea;
  --color-gray: #87898f;
  --color-accent-bg: #232324;
  --color-sidebar-text: var(--color-text);
  --color-background: #19191a;
  --color-primary: #005bd1;
  --color-popup-bg: #303030;
  --color-border-bottom-message: rgb(0 0 0 / 0.4);
  --color-active-folder: rgb(255 255 255 / 0.08);
  --color-hover: rgb(255 255 255 / 0.04);
  --color-main-scroll: hsl(0deg 0% 30%);
  --color-hr: rgb(255 255 255 / 0.16);
  --color-select: rgba(255, 255, 255, 0.08);
}
